version: '3.8'

services:
  octa:
    build: 
      context: .
      dockerfile: Dockerfile 
    container_name: octa_api
    ports:
     - "${APP_PORT:-9980}:${APP_PORT:-9980}"
    volumes:
      - octa_data:/app/data           
      - ./config.yaml:/app/config.yaml

    env_file:
      - .env
    
    restart: always
    develop:
     watch:
        - path: .
          action: rebuild

volumes:
  octa_data: 